[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
autopep8 = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
numpy = "*"
scipy = "*"
tensorflow = "*"
keras = "*"
requests = "*"
matplotlib = "*"

[requires]
python_version = "3.7.2"
