[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
autopep8 = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
plotly = "*"
requests = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.7.2"
